if SHIELD_ATRIS_DONGLE

config ZMK_KEYBOARD_NAME
	default "atris"
	
config ZMK_SPLIT_ROLE_CENTRAL
	default y
	
endif

if SHIELD_ATRIS_LEFT || SHIELD_ATRIS_RIGHT || SHIELD_ATRIS_DONGLE 

config ZMK_SPLIT
	default y
	
endif